
// fouter'in 1 ci hissesi

.fouterone {
    width: 100%;
    height: 300px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;

    .fouterone_in {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &>div {
            display: flex;
            justify-content: center;
            align-items: center;

            &>div {
                margin-right: 10px;
                &>svg{
                    width: 32px;
                    height: 32px;
                }
            }

        }
    }
}

// fouter'in 1 ci hissesi

.foutertwo{
    width: 100%;
    height: 380px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .foutertwo_in{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left{
            width: 40%;
            &>p{
                margin-top: 20px;
                color: rgb(130, 128, 128);
            }
            &>input{
                margin-top: 30px;
                width: 400px;
                height: 40px;
                border-top: none;
                border-right: none;
                border-left: none;
            }
            &>span{
                &>svg{
                    width: 30px;
                    height: 30px;
                    margin-left: -36px;
                    margin-top: 10px;
                }
            }
        }
    }
}