 
.about{
    z-index: -99;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;

    .about_in{
        margin-top: 80px;
        width: 80%;
        height: auto;

        .aboutUS{
            width: 100%;
            height: 470px;
            display: flex;

            .line{
                width: 20%;
                height: 100%;
                position: relative;

                &>p{
                    position: absolute;
                    margin-top: 12px;
                    margin-left: 40px;
                    width: 35%;
                    opacity: 0.8;
                    height: 1px;
                    background-color: black;
                }
            }

            .varkala{
                width: 42%;
                height: 100%;

                &>h2{
                    letter-spacing: 7px;
                    color: #bcac76;
                    font-size: 20px;
                }

                &>h1{
                    margin-top: 10px;
                    font-size: 72px;
                }

                &>p{
                    margin-top: 50px;
                    font-size: 20px;
                    font-weight: 500;
                    color: #868e96;
                }
            }
        }

        .THEOLDTIMES{
            width: 100%;
            height: 190px;
            display: flex;

            .line{
                width: 20%;
                height: 100%;
                position: relative;

                &>p{
                    position: absolute;
                    margin-top: 12px;
                    margin-left: 40px;
                    width: 35%;
                    opacity: 0.8;
                    height: 1px;
                    background-color: black;
                }
            }

            .varkala{
                width: 60%;
                height: 100%;

                &>h2{
                    letter-spacing: 7px;
                    color: #bcac76;
                    font-size: 20px;
                }

                &>h1{
                    margin-top: 10px;
                    font-size: 72px;
                }
            }
        }

        .started{
            width: 100%;
            height: 600px;
            display: flex;
            align-items: center;

            .started_img{
                width: 28%;
                height: 86%;
                margin-left: 54px;

                &>img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .started_text{
                width: 46%;
                margin-left: 130px;

                &>h2{
                    letter-spacing: 7px;
                    color: #868e96;
                    font-size: 20px;
                }

                &>h1{
                    color: black;
                    font-size: 36px;
                }

                &>p{
                    margin-top: 38px;
                    font-size: 17px;
                    color: #868e96;
                    font-weight: 400;
                }
            }
        }


        .grew{
            margin-top: -18px;
            width: 100%;
            height: 340px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .grew_text{
                width: 50%;
                margin-left: 62px;
                
                &>h2{
                    letter-spacing: 7px;
                    color: #868e96;
                    font-size: 20px;
                }

                &>h1{
                    color: black;
                    font-size: 36px;
                }

                &>p{
                    margin-top: 38px;
                    font-size: 17px;
                    color: #868e96;
                    font-weight: 400;
                }
            }

            .grew_img{
                width: 38%;
                height: 90%;

                &>img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

//2ci hisessi

.Milestones{
    margin-top: 80px;
    width: 100%;
    height: 600px;
    background-color:  #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;

    .Milestones_in{
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;

        .Milestones_left{
            margin-top: -56px;
            width: 50%;
            margin-left: 60px;

            &>div{
                width: 80%;
                height: auto;

                &>h1{
                    color: black;
                }
    
                &>p{
                    margin-top: 27px;
                    font-size: 22px;
                    font-weight: 420;
                    color: #868e96;
                }
            }
        }

        .Milestones_right{
            width: 50%;
            display: grid;
            grid-template-columns: auto auto;
            gap: 30px;

            &>div{
                &>h2{
                    font-size: 25px;
                }

                &>p{
                    margin-top: 10px;
                    color: #868e96;
                    font-size: 18px;
                }
            }
        }
    }
}


//2ci hisessi

.people{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    &>div{
        width: 80%;
        height: auto;

        .samsa{
            width: 100%;
            height: 630px;
            display: flex;
            justify-content: center;
            align-items: center;

            .samsa_up{
                width: 44%;
                display: flex;
                justify-content: center;
                align-items: center;

                &>div{
                    width: 340px;
                    height: 340px;
                    border-radius: 50%;

                    &>img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
            }  
            
            .samsa_low{
                width: 56%;

                &>div{
                    width: 80%;

                    &>h5{
                        margin-top: 12px;
                        font-size: 26px;
                        font-weight: -200;
                        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        word-spacing: 3px;
                    }

                    &>h2{
                        margin-top: 27px;
                        color: #bcac76;
                    }

                    &>p{
                        margin-top: 30px;
                        font-size: 19px;
                        color: #868e96;
                        word-spacing: 2px;
                    }
                }
            }
        }

        .team{
            width: 100%;
            height: 900px;
            display: flex;
            
            .line{
                width: 20%;
                height: 100%;

                &>p{
                    margin-top: 18px;
                    margin-left: 44px;
                    width: 90px;
                    height: 1px;
                    background-color: black;
                }
            }

            .ourteam{
                width: 80%;
                height: 100%;

                .ourteam_info{
                    width: 100%;
                    height: 260px;

                    &>h2{
                        color: #bcac76;
                        letter-spacing: 8px;
                    }

                    &>h1{
                        margin-top: 5px;
                        font-size: 70px;
                        font-weight: 700;
                    }

                    &>p{
                        margin-top: 27px;
                        color: #868e96;
                        font-size: 17px;
                    }
                }

                .jobs{
                    width: 100%;
                    height: 640px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .jobs_in{
                        width: 100%;
                        height: 95%;
                        display: grid;
                        grid-template-columns: auto auto auto auto;
                    }
                }
            }
        }
    }
}


//4cu hisse

.sponsor{
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    
    .sponsor_in{
        width: 80%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
    }
}


//5ci hisse

.endinfo{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: white;

    &>div{
        width: 69%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .endinfo_up{
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 23px;
        }

        .endinfo_low{
            margin-top: -60px;
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &>p{
                width: 47%;
                height: max-content;
                color: #868e96;
            }
        }
    }
}








//isci carti scss

.jobb{
    width: 180px;
    height: 250px;

    .jobb_img{
        width: 100%;
        height: 180px;

        &>img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .jobb_text{
        margin-top: 10px;
        width: 100%;
        height: 25%;
        text-align: center;

        &>h2{
            font-size: 19px;
        }

        &>h3{
            font-size: 15px;
            color: #868e96;
        }
    }
}



// Responsive

@media (min-width: 280px) and (max-width: 750px) {

    .about{
        width: 333px;
        height: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 400px;
        
        &>div{
            width: 93%;
            height: auto;
            display: block;

            .aboutUS{
                display: block;

                .line{
                    display: none;
                }

                .varkala{
                    margin-left: -20px;
                    &>h2{
                        font-size: 17px !important;
                        white-space: nowrap;
                    }

                    &>h1{
                        width: 200px;
                        font-size: 42px !important;
                        font-weight: 700;
                    }

                    &>p{
                        width: 300px;
                    }
                }
            }

            .THEOLDTIMES{
                margin-top: 140px;

                .line{
                    display: none;
                }

                .varkala{
                    margin-left: -20px;

                    &>h2{
                        font-size: 17px !important;
                        white-space: nowrap;
                    }

                    &>h1{
                        width: 200px;
                        font-size: 42px !important;
                        font-weight: 700;
                    }
                }
            }

            #ResY{
                width: 319px;
                height: auto;
                display: block;

                .started_img{
                    width: 100%;
                    height: 500px;
                    margin-left: -26px;

                    &>img{
                        width: 99%;
                        height: 100%;
                    }
                }

                .started_text{
                    margin-left: -20px;
                    &>h2{
                        font-size: 17px !important;
                        white-space: pre-wrap;
                        font-weight: 600;
                    }

                    &>h1{
                        width: 200px;
                        font-size: 34px !important;
                        font-weight: 700;
                        white-space: nowrap;
                    }

                    &>p{
                        width: 300px;
                    }
                }
                margin-bottom: 300px;
            }

            #ResGrew{
                width: 319px;
                height: auto;
                display: block;

                .grew_text{
                    margin-left: -20px;
                    &>h2{
                        font-size: 17px !important;
                        white-space: pre-wrap;
                        font-weight: 600;
                    }

                    &>h1{
                        width: 200px;
                        font-size: 34px !important;
                        font-weight: 700;
                        white-space: nowrap;
                    }

                    &>p{
                        width: 300px;
                    }
                }

                .grew_img{
                    width: 100%;
                    height: 500px;
                    margin-left: -26px;

                    &>img{
                        width: 99%;
                        height: 100%;
                    }
                }

                
                margin-bottom: 300px;
            }
        }
    }
}