.CHOICES {
    z-index: -99;
    margin-top: 70px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    &>div {
        width: 80%;

        .onne {
            width: 100%;
            height: 200px;

            &>h2 {
                color: rgb(161, 161, 161);
                font-weight: 700;
                font-size: 18px;
                letter-spacing: 2px;
            }

            &>h1 {
                font-size: 30px;
                font-weight: 750;
                color: black;
            }

            &>p {
                color: rgb(161, 161, 161);
                font-size: 20px;
            }
        }

        .twoimg {
            width: 100%;
            height: 580px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .Furniture {
                width: 35%;
                height: 100%;

                .Furniture_img {
                    margin-top: 19px;
                    margin-left: 0;
                    width: 85%;
                    height: 68%;

                    &>img {
                        width: 98%;
                        height: 90%;
                        object-fit: cover;
                    }
                }

                .Furniture_text {
                    margin-top: -40px;
                    width: 100%;
                    height: 32%;

                    &>div {
                        width: 26%;
                        height: 100%;
                        margin-left: 50px;

                        &>h1 {
                            font-size: 28px;
                            color: black;
                            font-weight: 700;
                        }

                        &>p {
                            color: rgb(140, 140, 141);
                            font-size: 17px;
                        }

                        &>h3 {
                            letter-spacing: 4px;
                            color: black;
                            font-size: 14px;
                        }
                    }
                }

                &:hover {
                    scale: 1.05;
                }
            }

            .Norwegg {
                width: 60%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .Norwegg_text {
                    margin-top: -160px;
                    margin-left: -50px;

                    &>div {
                        width: 34%;
                        height: 100%;
                        margin-left: 50px;

                        &>h1 {
                            font-size: 30px;
                            color: black;
                            font-weight: 700;
                        }

                        &>p {
                            color: rgb(140, 140, 141);
                            font-size: 17px;
                        }

                        &>h3 {
                            letter-spacing: 2px;
                            color: black;
                            font-size: 15px;
                        }
                    }
                }

                .Norwegg_img {
                    margin-top: 7px;
                    margin-left: -174px;
                    z-index: -90;
                    width: 130%;
                    height: 100%;

                    &>img {
                        width: 90%;
                        height: 90%;
                        object-fit: cover;
                    }
                }

                &:hover {
                    scale: 1.02;
                }
            }
        }
    }
}

.towtwo {
    margin-top: 80px;
}

.towthree {
    margin-top: 80px;
}

//3cu hisse saat hissesi


.time {
    width: 100%;
    height: 550px;
    position: relative;

    &>div {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 550px;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .time_in {
            width: 80%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;

            &>div {
                width: 80%;
                height: 90%;
                margin-left: 200px;

                &>div {
                    width: 50%;
                    height: 100%;

                    &>h2 {
                        margin-top: 20px;
                        font-size: 18px;
                        letter-spacing: 2px;
                        font-weight: 700;
                        color: #dc3545;
                    }

                    &>h1 {
                        margin-top: 20px;
                        color: black;
                        font-weight: 700;
                    }

                    &>p {
                        margin-top: 18px;
                        color: rgb(136, 134, 134);
                        font-size: 18px;

                        &>span {
                            margin-right: 14px;
                            font-weight: 620;
                        }

                        .onespan {
                            text-decoration-line: line-through;
                        }
                    }

                    &>button {
                        border: none;
                        outline: none;
                        border-radius: 4px;
                        background-color: #dc3545;
                        padding: 10px 14px;
                        color: white;
                        font-weight: 500;
                    }

                    &>div {
                        margin-top: 30px;
                        width: 100%;
                        height: 120px;
                        background-color: white;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                    }

                    #btn {
                        margin-top: 24px;
                        padding: 8px 18px;
                        border: 1px solid black;
                        letter-spacing: 2px;
                        background: none;
                        color: black;
                        font-weight: 600;

                        &:hover {
                            background-color: black;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

//Products Name

.Arrivals {
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: center;

    &>div {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;

        .Arrivals_info {
            width: 100%;
            height: 50%;
            margin-left: 48px;

            &>h1 {
                color: black;
                font-size: 33px;
                font-weight: 700;
            }

            &>p {
                font-size: 20px;
            }
        }

        .produtss {
            margin-top: 40px;
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &>ul {
                display: flex;
                justify-content: center;
                align-items: center;

                .oneLi {
                    color: black;
                }

                &>li {
                    margin-left: 12px;
                    color: rgb(147, 147, 147);
                    font-weight: 600;
                }
            }

            &>div {
                color: #bcac76;
                letter-spacing: 2px;
                font-weight: 500;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}




//cartlar Productlar

.carts {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

    #accordion {
        width: 13%;
        margin-left: -90px;

        .FilterAccor {
            margin-top: 20px;
            width: 20%;
            height: auto;
            margin-left: 10px;
            display: block;

            &>button {
                font-size: 25px;
                font-weight: 700;
                color: #bcac76;
                border: 1px solid #bcac76;
                padding: 8px 20px;
                margin-right: 0;
                background-color: white;

                &:hover {
                    background-color: black;
                    color: #bcac76;
                }
            }
        }

        .carts_filter {
            margin-top: 20px;
            width: 20%;
            height: auto;
            margin-left: 10px;
            display: block;


            #xett {
                width: 130px;
                margin-left: 6px;
            }


            .nameSearch {
                width: 130px;
                display: flex;
                justify-content: space-between;

                input {
                    width: 130px;
                    height: 30px;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    display: inline-block;
                }

                .FilterSearch {
                    margin-left: 20px;
                    display: inline-block;

                    &>svg {
                        margin-top: 30px;
                        margin-left: -45px;
                        width: 22px;
                        height: 22px;
                    }
                }
            }

            .checkbox {
                margin-top: 29px;
                display: flex;
                width: 160px;
                height: auto;
                background-color: rgb(255, 255, 255);

                #checkboxCategory {
                    width: 50%;
                    display: block;
                    font-size: 20px;
                    font-weight: 600;
                    font-family: 'Times New Roman', Times, serif;
                }

                input {
                    width: 20px;
                    height: 20px;
                }

                #checkboxColor {
                    color: white;
                    font-weight: 600;
                    background: rgb(131, 58, 180);
                    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 60%, rgba(252, 176, 69, 1) 100%);
                    width: 50%;
                    font-size: 20px;
                    font-family: 'Times New Roman', Times, serif;
                }
            }

        }
    }

    .categoryFilter {
        width: 140px;
        height: auto;
        background-color: #000000;

        &>ul {
            &>li {
                margin-left: -27px;
                margin-top: 10px;
                font-size: 18px;
                font-weight: 600;
                color: #bcac76;

                &:hover {
                    color: rgb(255, 255, 255);
                }
            }
        }
    }

    .Productll {
        width: 80%;
        height: auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 15px;
        margin-bottom: 50px;
    }
}

#biggest {
    margin-top: 10px;
    width: 100%;
    height: 650px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &>div {
        background-color: #bcac76;
        width: 79%;
        height: 70%;
        display: flex;
        justify-content: end;
        align-items: center;

        .biggest_text {
            margin-top: 100px;
            text-align: center;
            margin-left: 200px;
            margin-bottom: 100px;

            &>h1 {
                font-size: 75px;
                font-weight: 700;
            }

            &>h2 {
                font-size: 30px;
                letter-spacing: 1px;
            }

            &>button {
                margin-top: 40px;
                border: 1px solid black;
                color: black;
                font-weight: 500;
                padding: 10px 20px;
                background-color: #bcac76;

                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }

        &>img {
            margin-top: 100px;
            margin-left: 100px;
            width: 270px;
            height: 500px;
            margin-bottom: 200px;
        }
    }
}




//Product carti

.mehsul {
    width: 257px;
    height: 450px;

    .mehsul_up {
        width: 100%;
        height: 85%;
        position: relative;

        .mms {
            position: relative;
            display: inline-block;

            &>img {
                width: 100%;
                height: 100%;

            }

            .addToCart {

                width: 100%;
                height: 40px;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: white;
                visibility: hidden;

                &>div {
                    margin-top: 3px;
                    padding: 5px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &>h4 {
                        font-size: 19px;
                    }

                    &>div {
                        margin-bottom: 10px;

                        &>span {
                            margin-top: 20px;
                            margin-left: 10px;
                            font-size: 20px;
                        }

                        .add {
                            &>svg {
                                &:hover {
                                    color: #bcac76;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .mehsul_low {
        width: 100%;
        height: 25%;


        &>h4 {
            margin-top: 2px;
            width: 100%;
            margin-left: 5px;
            height: 50%;
            font-size: 18px;
            color: black;
            font-weight: 600;
        }

        &>div {
            margin-top: -45px;
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .qiymet {
                color: rgb(132, 132, 132);
                font-size: 19px;
            }

            .update {
                font-weight: 500;
                font-size: 14px;
                visibility: hidden;
            }

            .star {
                visibility: hidden;
            }
        }

    }

    &:hover #visible {
        visibility: visible;
    }

    &:hover #ssttaarr {
        visibility: visible;
    }

    &:hover #addTToo {
        visibility: visible;
    }

}



//popup

.popup {
    width: 1100px;
    height: 700px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    .exit {
        display: inline-block;
        position: relative;
        background: none;
        font-size: 27px;
        border: none;
        color: black;
        font-weight: bold;
        transition: transform 0.3s;
        margin-left: 1000px;

        &:hover {
            transform: rotate(180deg);
        }
    }

    &>div {
        width: 98%;
        height: 95%;
        display: flex;
        justify-content: space-between;

        .pop_left {
            width: 47%;
            height: 100%;

            .pop_left_img {
                width: 100%;
                height: 82%;

                &>img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .pop_left_imgs {
                margin-top: 8px;
                width: 100%;
                height: 15%;
                display: flex;
                justify-content: space-between;

                &>img {
                    width: 18%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .pop_right {
            width: 47%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .mehsul_info {
                margin-top: 20px;
                width: 100%;
                height: 32%;
                background-color: rgb(255, 255, 255);

                &>h1 {
                    font-size: 33px;
                    font-weight: 700;
                }

                &>div {
                    margin-top: 31px;
                    width: 100%;
                    height: 40px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .mehsul_info_price {
                        display: flex;

                        &>h2 {
                            font-size: 24px;
                            color: black;
                            margin-right: 13px;
                        }

                        &>p {
                            margin-top: 4px;
                            color: rgb(132, 132, 132);
                            text-decoration: line-through;
                        }
                    }

                    .mehsul_info_star {
                        margin-bottom: 8px;

                        &>svg {
                            width: 20px;
                            height: 20px;
                        }

                        &>span {
                            margin-left: 8px;
                            color: rgb(132, 132, 132);
                            letter-spacing: 3px;
                        }
                    }
                }

                &>p {
                    margin-top: 25px;
                    font-weight: 500;
                    font-size: 18px;
                }
            }

            .mehsul_section {
                margin-top: 25px;
                width: 100%;
                height: 32%;
                display: flex;
                flex-direction: column;

                .mehsul_section_size {
                    font-size: 18px;
                    color: black;
                    font-weight: 600;

                    &>span {
                        margin-left: 3px;
                        color: rgb(132, 132, 132);
                        font-size: 16px;
                    }
                }

                .small {
                    margin-top: 16px;

                    &>button {
                        border: 1px solid rgb(132, 132, 132);
                        padding: 7px 10px 7px 10px;
                        color: black;
                        letter-spacing: 3px;
                        background-color: white;
                        outline: none;

                        &>svg {
                            margin-left: 120px;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                .mehsul_section_size2 {
                    margin-top: 20px;
                    font-size: 18px;
                    color: black;
                    font-weight: 600;

                    &>span {
                        margin-left: 3px;
                        color: rgb(132, 132, 132);
                        font-size: 16px;
                    }
                }

                .two-btn {
                    margin-top: 12px;

                    &>button {
                        border: 1px solid #bcac76;
                        color: #bcac76;
                        background-color: white;
                        letter-spacing: 2px;
                        padding: 2px 9px;
                        font-weight: 600;
                        margin-right: 10px;

                        &:hover {
                            color: black;
                            background-color: #bcac76;
                        }
                    }
                }
            }

            .popADD {
                margin-top: 10px;
                width: 100%;
                height: 44px;
                display: flex;
                justify-content: center;
                align-items: center;

                &>div {
                    width: 16%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top: 1px solid rgb(132, 132, 132);
                    border-left: 1px solid rgb(132, 132, 132);
                    border-bottom: 1px solid rgb(132, 132, 132);

                    &>input {
                        text-align: center;
                        width: 70%;
                        height: 100%;
                        margin-bottom: 24px;
                    }

                    &>div {
                        width: 30%;
                        height: 100%;

                        &>svg {
                            margin-top: -10px;
                        }

                        .asd {
                            margin-top: -20px;
                        }
                    }
                }

                &>button {
                    background-color: black;
                    width: 84%;
                    height: 100%;
                    color: white;
                    letter-spacing: 3px;
                    font-weight: 600;

                    &>svg {
                        margin-right: 15px;
                        color: white;
                    }
                }
            }

            .popEnd {
                margin-top: 22px;
                width: 100%;
                height: auto;

                .popEnd_up {
                    width: 100%;
                    height: 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &>h1 {
                        color: #bcac76;
                        font-size: 19px;

                        &:hover {
                            text-decoration: underline;
                        }

                        &>svg {
                            color: #bcac76;
                            margin-right: 8px;
                            width: 22px;
                            height: 22px;
                        }
                    }

                    &>b {
                        &>svg {
                            margin-left: 9px;
                            width: 18px;
                            height: 18px;
                        }
                    }
                }

                .popEnd_low {
                    margin-top: 23px;

                    &>h1 {
                        font-size: 18px;
                        color: black;
                        font-weight: 500;

                        &>span {
                            color: rgb(136, 134, 134);
                            font-size: 16px;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}


//size dropDown

.sizeDrop {
    width: 220px;
    height: 130px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;

    &>ul {
        margin-left: -10px;

        &>li {
            margin-top: 12px;
            font-size: 16px;
            font-weight: 500;
        }
    }
}

//Responsive div none
.ResTime {
    display: none;
}

.ResMMS {
    display: none;
}

//Responsiv

@media (min-width: 280px) and (max-width: 750px) {

    #ResCoursel {
        width: 400px;
        height: 140px;
    }

    .CHOICES {
        z-index: -99;
        margin-top: 70px;
        width: 400px;
        height: auto;
        display: flex;
        justify-content: start;

        &>div {
            width: 80%;

            .onne {
                margin-left: 20px;
                width: 100%;
                height: 200px;

                &>h2 {
                    color: rgb(161, 161, 161);
                    font-weight: 700;
                    font-size: 18px;
                    letter-spacing: 2px;
                }

                &>h1 {
                    font-size: 30px;
                    font-weight: 750;
                    color: black;
                }

                &>p {
                    color: rgb(161, 161, 161);
                    font-size: 20px;
                }
            }

            .twoimg {
                margin-top: 70px;
                width: 400px;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .Furniture {
                    margin-left: 30px;
                    width: 100%;
                    height: auto;

                    .Furniture_img {
                        width: 90%;
                        height: 70%;

                        &>img {
                            width: 100%;
                            height: 90%;
                        }
                    }

                    .Furniture_text {
                        margin-top: 5px;
                        margin-left: -20px;

                        &>div {

                            &>h3 {
                                color: black;
                                font-size: 10px;
                                font-weight: 600;
                            }
                        }
                    }
                }

                .Norwegg {
                    margin-top: 20px;
                    width: 400px;
                    height: auto;
                    display: flex;
                    justify-content: end;
                    align-items: center;

                    .Norwegg_text {
                        width: 40%;
                        margin-top: 100px;

                        &>div {
                            width: 34%;
                            height: 100%;
                            margin-left: 50px;

                            &>h1 {
                                font-size: 30px;
                                color: black;
                                font-weight: 600;
                            }

                            &>p {
                                display: none;
                            }

                            &>h3 {
                                display: none;
                            }
                           }
                    }

                    .Norwegg_img {
                        margin-left: 10px;
                        margin-top: 7px;
                        z-index: -90;
                        width: 60%;
                        height: auto;

                        &>img {
                            width: 95%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    &:hover {
                        scale: 1.02;
                    }
                }
            }
        }

        .ResNorwegg {
            width: 400px;
            height: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .Norwegg_text {
                display: none;
            }

            #fff {
                width: 200px !important;
                margin-right: 35px;

                &>img {
                    width: 100% !important;
                }
            }
        }
    }

    .time {
        display: none;
    }

    .ResTime {
        width: 400px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #b5cde7;

        &>div {
            width: 92%;
            height: auto;
            display: block;

            &>h2 {
                color: #dc3545;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 3px;
            }

            &>h1 {
                margin-top: 20px;
                font-size: 40px;
                font-weight: 700;
            }

            &>p {
                margin-top: 20px;

                .onespan {
                    text-decoration: line-through;
                }

                &>span {
                    margin-right: 20px;
                }
            }

            .ResELL {
                margin-top: 20px;
                text-align: center;
                background-color: #dc3545;
                padding: 6px 9px;
                width: 90px;
                height: 44px;
                border: none;
                border-radius: 6px;
                outline: none;
                color: white;
                font-weight: 700;
            }

            &>div {
                margin-top: 40px;
                width: 100%;
                height: 200px;
                background-color: #ffffff;
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-around;
                align-items: center;
            }

            #ResShop {
                margin-top: 30px;
                text-align: center;
                background: none;
                padding: 6px 9px;
                width: 150px;
                height: 44px;
                border-radius: 6px;
                color: rgb(0, 0, 0);
                font-weight: 700;
                border: 1px sol black;
                letter-spacing: 4px;
            }

            &>img {
                margin-top: 30px;
                width: 300px;
                height: 460px;
            }
        }
    }

    .Arrivals {
        margin-top: 60px;
        width: 400px;
        height: auto;
        margin-bottom: 100px;
        display: block;
        margin-left: -20px;

        &>div {
            width: 93%;
            height: auto;

            .produtss {
                width: 100%;
                display: block;

                &>ul {
                    display: grid;
                    grid-template-columns: auto auto auto auto;

                    &>li {
                        font-size: 15px;
                        font-weight: 600;
                    }
                }

                &>div {
                    margin-left: 50px;
                }

            }
        }
    }

    .carts {
        margin-top: -70px;
        width: 400px;
        height: auto;
        display: block !important;
        justify-content: center;

        #accordion {
            width: 90%;
            display: block;
            margin-left: 100px;

            .FilterAccor{
                display: block;

                &>button{
                    padding-left: 40px;
                    padding-right: 40px;
                }

                .carts_filter{
                    display: block;
                }
            }
        }

        .Productll {
            width: 90%;
            height: auto;
            display: grid;
            grid-template-columns: auto auto;
            gap: 4px;
            margin-bottom: 50px;
            margin-right: 90px;
            column-gap: 20px;
            row-gap: 70px;
        }
    }


    //product cart

    .mehsul {
        width: 140px;
        height: 230px;
        margin-bottom: 20px;

        .mehsul_up {
            width: 100%;
            height: 85%;
            position: relative;

            .mms {
                width: 100%;
                height: 115%;

                #addTToo {
                    display: none;
                }
            }

            .ResMMS {
                width: 100%;
                height: 15%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                #restwi {
                    &>svg {
                        margin-left: 5px;
                    }
                }
            }
        }

        .mehsul_low {
            width: 100%;
            height: 15%;
            margin-top: 70px;
            display: flex;
            flex-direction: column;

            &>h4 {
                margin-top: -10px;
                width: 100%;
                font-size: 15px;
                color: black;
                font-weight: 600;
                margin-left: 0;
                display: inline;

            }

            &>div {
                margin-top: -5px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .qiymet {
                    font-size: 17px;
                    font-weight: 600;
                }

                .star {

                    &>svg {
                        visibility: visible;
                        color: #bcac76;
                        display: inline;
                        width: 14px;
                        z-index: 100;
                        height: 14px;
                    }
                }
            }
        }
    }

    #biggest {
        margin-top: 90px;
        width: 400px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;

        &>div {
            width: 93%;
            height: 96%;
            display: block;

            .biggest_text {
                margin-top: 90px;
                width: 290px;
                height: 100%;
                margin-left: 14px;

                &>h1 {
                    font-size: 39px;
                }

                &>h2 {
                    width: 100%;
                    font-size: 31px;
                }

                &>button {
                    letter-spacing: 2px;
                }
            }

            &>img {
                display: none;
            }
        }
    }
}

//responsivlik finish