* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: #e9ecef;

    .navbar_in {
        width: 92%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgb(35, 32, 32);
        background-color: #e9ecef;

        .left {
            display: flex;

            &>span {
                color: black;
                margin-right: 13px;
            }

            &>h4 {
                margin-left: 24px;
                font-size: 16px;
                &>span {
                    margin-right: 10px;
                    font-size: 16px;
                }
            }
        }

        &>h3 {
            margin-right: 100px;
            font-size: 16px;
            color: #7a7a7a;
        }

        .right {

            &>button {
                margin-right: 20px;
                border: none;
                outline: none;
                padding: 10px;
                background: none;
                font-size: 15px;

                &>span svg {
                    width: 20px;
                    height: 20px;
                    margin-left: 8px;
                }
            }
        }
    }
}


// Altdaki navbar

.navbar2 {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: center;
    background-color: transparent !important;

    .navbar2_in {
        width: 92%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;

        .left2 {
            margin-top: 10px;
            &>ul {
                display: flex;

                &>li {
                    position: relative;
                    display: flex;
                    list-style-type: none;
                    margin-right: 35px;
                    font-size: 17px;
                    font-weight: 600;

                    &>svg {
                        position: absolute;
                        margin-left: 50px;
                        margin-top: 5px;

                    }
                }
            }
        }

        &>span {
            margin-left: 300px;
            position: relative;
            margin-bottom: 30px;

            &>input {
                width: 260px;
                height: 40px;
                border-top:none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid gray;
            }

            &>svg {
                position: absolute;
                width: 28px;
                height: 28px;
                margin-left: -30px;
                margin-top: 30px;
            }

        }

        .right2 {
            margin-bottom: 10px;

            &>span {
                margin-right: 20px;

                &>svg {
                    width: 28px;
                    height: 28px;
                    color: #4c4c4c;
                }
            }
        }
    }
}

input[type="search"]::placeholder {
    color: gray;
    font-size: 19px;
}


// Home DropDown menu
.open {
    position: absolute;
    margin-top: 50px;
    margin-left: 80px;
    background-color: white;

    .open_in {
        width: 200px;
        height: auto;
        margin-top: 0;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;


        .h11 {
            margin-right: 10px;
        }

        .h12 {
            margin-left: 10px;
        }

        &>h3 {
            color: #7a7a7a;
            font-size: 16px;

            &:hover {
                color: black;
            }
        }

        &>span {
            font-size: 20px;
        }
    }
}

.link {
    text-decoration: none;
}

span{
    cursor: pointer;
}
// Shop DropDown menu

.shop {
    width: 750px;
    height: 380px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 50px;
    margin-left: 110px;

    .leftt {
        width: 500px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .leftt_in {
            margin-top: 60px;
            width: 90%;
            height: 90%;
            display: flex;
            justify-content: space-between;

            li {
                list-style: none;
                margin-bottom: 12px;
                color: #7a7a7a;
                font-size: 16px;
                font-weight: 600;

                &:hover {
                    color: black;
                }
            }

            .firstt {
                color: black;
            }
        }
    }

    .rightt {
        width: 250px;
        height: 100%;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


//icon dropdown

.icon {
    width: 750px;
    height: 380px;
    position: absolute;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    margin-left: 240px;

    .icon_up {
        width: 100%;
        height: 330px;
        display: flex;
        justify-content: center;
        align-items: center;

        &>div {
            width: 90%;
            height: 90%;
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            margin-left: -40px;

            &>h3 {
                display: block;
                font-weight: 700;
                margin-left: 7px;
                text-align: center;

                .iconss {
                    width: 40px;
                    height: 70px;
                }

                .ml{
                    font-size: 23px;
                }

            }
        }
    }

    .icon_low {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #bcac76;

        &>h3 {
            color: black;
            font-size: 16px;
        }
    }
}


//pages dropdown


.pages {
    width: 1280px;
    height: 650px;
    position: absolute;
    margin-left: 55px;
    margin-top: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    &>div {
        width: 92%;
        height: 88%;
        display: flex;
        justify-content: space-between;

        &>div {
            width: 275px;
            height: 100%;

            .pages_in_img {
                width: 100%;
                height: 188px;

                &>img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .oneLine {
                margin-top: 20px;

                &>b {
                    margin-top: 80px;
                }

                &>ul {
                    display: block;

                    &>li {
                        margin-top: 5px;
                        font-weight: 500;
                    }
                }
            }

            .twoline{
                margin-top: 40px;

                &>b {
                    margin-top: 80px;
                }

                &>ul {
                    display: block;

                    &>li {
                        margin-top: 5px;
                        font-weight: 500;
                    }
                }

            }
        }
    }
}



//Docs DropDown

.docs{
    position: absolute;
    margin-top: 50px;
    margin-left: 395px;
    width: 170px;
    height: 380px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    &>div{
        width: 80%;
        height: 92%;

        &>ul{
            &>li{
                margin-top: 12px;
                font-weight: 300;
                
            }
        }
    }
}


li{
    list-style: none;
    color: #7a7a7a;
    font-size: 16px;
    cursor: pointer;

    &:hover{
        color: black;
    }
}

.not{
    color:#7a7a7a;
}


//Responsive Div none

   .responsiv{
    display: none;
   } 

//responsiv Navbar

@media (min-width: 280px) and (max-width: 750px) {

    .navbar{
        width: 334px;
        height: 50px;
        display: flex;
        justify-content: start;
        align-items: center;

        &>div{
            width: 96%;
            height: auto;

            .left{
                display: none;
                &>span{
                    display: none;
                }
                &>h4{
                    display: none;
                }
            }
//
            .right{
                display: none;
            }

            #free{
                font-size: 18px;
            }
        }
    }
    .navbar2{
        display: none;
    }
    .responsiv{
        width: 340px;
        height: 50px;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &>div{
            width: 93%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &>h1{
                font-size: 18px;
                font-weight: 500;
            }

            &>div{
                &>svg{
                    width: 25px;
                    height: 25px;
                    margin-left: 10px;
                }
                
            }
        }

        #bst{
            width: 25px;
            height: 25px;
        }

        .resPanel{
            position: absolute;
            &>div{
                background-color: rgb(255, 255, 255);
                margin-top: 10px;
                margin-left: -300px;
                width: 333px;
                height: auto;

            }
            ul{
                font-size: 19px;
                font-weight: 600;
            }
            
            input{
                margin-top: 30px;
                margin-left: 30px;
                width: 280px;
            }
            #sera{
                width: 23px;
                height: 23px;
                margin-top: 25px;
                margin-left: -30px;
                position: absolute;
            }
        }
    }
    #Reshome{
        text-decoration: none;
    }
    #ll{
        margin-left: 33px;
    }
}
//finsif